<div class="container">
    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-warning" (click)="back()">Back</button>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="card mb-3" style="max-width: 40rem;">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="./assets/images/user-image.png" class="card-img-top">
                </div>
                <div class="col-md-7">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h3><strong>{{clientInfo?.firstName}} {{clientInfo?.lastName}}</strong></h3></li>
                        <li class="list-group-item"><strong>Teléfono:</strong> {{clientInfo?.phoneNumber}}</li>
                        <li class="list-group-item"><strong>Correo:</strong> {{clientInfo?.email}} </li>
                        <li class="list-group-item"><strong>NIT:</strong> {{clientInfo?.nit}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

