<div class="container">
    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-warning" (click)="back()">Back</button>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="card" style="width: 18rem;">
            <img src="./assets/images/user-image.png" class="card-img-top">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center"><h3><strong>{{productInfo?.name}}</strong></h3></li>
                <li class="list-group-item"><strong>Teléfono:</strong> {{productInfo?.description}}</li>
                <li class="list-group-item"><strong>Correo:</strong> {{productInfo?.cost | currency: 'USD'}} </li>
            </ul>
        </div>
    </div>
</div>