<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col col-md-12">
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <ng-container formArrayName="productArray">
                    <ng-container *ngFor="let productControlSet of productArray.controls; let i = index">
                        <div [formGroup]="productControlSet">
                            <mat-form-field appearance="fill" >
                                <mat-label>Nombre:</mat-label>
                                <input matInput type="text" formControlName="name">
                            </mat-form-field>
                            <mat-form-field appearance="fill" >
                                <mat-label>Descripción:</mat-label>
                                <input matInput type="text" formControlName="description">
                            </mat-form-field>
                            <mat-form-field appearance="fill" >
                                <mat-label>Precio:</mat-label>
                                <input matInput type="number" formControlName="cost">
                            </mat-form-field>
                        </div>
                    </ng-container>
                </ng-container>
                <button class="btn btn-primary" [disabled]="productForm.status == 'INVALID'" type="submit">Guardar</button>
            </form>
            <br>
            <button class="btn btn-warning" (click)="addControlsSet()">Agregar Form</button>
        </div>
    </div>
</div>