<div class="container">
    <div class="row justify-content-between mt-5">
        <div class="col-4 col-md-2">
            <h3>Productos</h3>
        </div>
        <div class="col-4 col-md-2">
            <button routerLink="agregar" class="btn btn-primary">Agregar +</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 table-responsive-xl">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of productsInfo">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.cost | currency:'USD'}}</td>
                    <td><a routerLink="mostrar/{{item.id}}">Ver mas</a></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
