<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Mi Tienda</a>
    
        <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar" (click)="shownNavBar = !shownNavBar" [attr.aria-expanded]="shownNavBar"  aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': shownNavBar }" id="mainNavBar" >
            <ul class="navbar-nav">
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" routerLink="/clientes">Clientes</a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" routerLink="/productos">Productos</a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" routerLink="/ordenes">Ordenes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>