<div class="container">
    <div class="row justify-content-between mt-5">
        <div class="col-4 col-md-2">
            <h3>Clientes</h3>
        </div>
        <div class="col-4 col-md-2">
            <button routerLink="agregar" class="btn btn-primary">Agregar +</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 table-responsive-xl">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">NIT</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of clientInfo">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.nit}}</td>
                    <td><a routerLink="mostrar/{{item.id}}">Ver mas</a></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
