<div class="container">
    <div class="row justify-content-between mt-5">
        <div class="col-4 col-md-2">
            <h3>Productos</h3>
        </div>
        <div class="col-4 col-md-2">
            <button routerLink="agregar" class="btn btn-primary">Agregar +</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 table-responsive-xl">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID Orden</th>
                    <th scope="col">ID Producto</th>
                    <th scope="col">ID Cliente</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ordersInfo">
                    <th scope="row">{{item.idOrder}}</th>
                    <td>{{item.idProduct}}</td>
                    <td>{{item.idClient}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.date | date}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
