<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col col-md-12">
            <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
                <ng-container formArrayName="clientArray">
                    <ng-container *ngFor="let clientControlsSet of clientArray.controls; let i = index">
                        <div [formGroup]="clientControlsSet">
                            <!-- <mat-form-field appearance="fill">
                                <mat-label>ID:</mat-label>
                                <input matInput type="number" formControlName="id">
                            </mat-form-field> -->
                            <mat-form-field appearance="fill" >
                                <mat-label>Nombre:</mat-label>
                                <input matInput type="text" formControlName="firstName">
                            </mat-form-field>
                            <mat-form-field appearance="fill" >
                                <mat-label>Apellido:</mat-label>
                                <input matInput type="text" formControlName="lastName">
                            </mat-form-field>
                            <mat-form-field appearance="fill" >
                                <mat-label>Teléfono:</mat-label>
                                <input matInput type="text" formControlName="phoneNumber">
                            </mat-form-field>
                            <mat-form-field appearance="fill" >
                                <mat-label>Correo:</mat-label>
                                <input matInput type="email" formControlName="email">
                            </mat-form-field>
                            <mat-form-field appearance="fill" >
                                <mat-label>NIT:</mat-label>
                                <input matInput type="text" formControlName="nit">
                            </mat-form-field>
                        </div>
                    </ng-container>
                </ng-container>
                <button class="btn btn-primary" [disabled]="clientForm.status == 'INVALID'" type="submit">Guardar</button>
            </form>
            <br>
            <button class="btn btn-warning" (click)="addControlsSet()">Agregar Form</button>
        </div>
    </div>
</div>